$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

$grey-400: #f7f7f7;
$grey-600: #ededed;
$grey-800: #353535;

$gradient: linear-gradient(350deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
$lightgradient: linear-gradient(350deg, rgba(147,110,220,1) 0%, rgba(255,150,218,1) 100%);

$tilehover: #F5EDFF