svg {
  width: 20px;
  height: 20px;
}

.location {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3em;
  background-color: #ededed;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  gap: 1rem;
}
.location p {
  font-weight: 700;
}

#cta {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
}
#cta h1 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
#cta p {
  text-align: center;
  font-weight: 300;
}
#cta a {
  text-decoration: none;
}

#Fonctionnement {
  padding: 2rem 0;
  margin: 1rem;
  display: grid;
  gap: 1rem;
}

.tile {
  display: inline-flex;
  background-color: #f7f7f7;
  border-radius: 1rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1rem;
  gap: 1rem;
}
.tile:hover {
  background-color: #F5EDFF;
}
.tile:hover svg {
  fill: #9356dc;
}
.tile svg {
  padding-left: 2rem;
}

.numero {
  background-color: #9356dc;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5px;
}

#restaurants {
  background-color: #f7f7f7;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#restaurants > * {
  margin: 1rem;
}

@-webkit-keyframes heart-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes heart-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes slide-left {
  100% {
    margin-right: 0%;
  }
}
@keyframes slide-left {
  100% {
    margin-right: 0%;
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
header a {
  position: absolute;
  left: 1rem;
}
header .logo {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: auto;
  height: auto;
}

.image-bg {
  position: relative;
  z-index: -1;
  margin-bottom: -3rem;
  max-height: 19rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-left {
  display: grid;
  place-items: center;
  width: 4rem;
  height: 100%;
  padding: 0;
  background-color: #99e2d0;
  margin-right: -4rem;
}
.slide-left i {
  border-radius: 50%;
  background-color: white;
  padding: 0.25rem;
  color: #99e2d0;
}

.menu {
  padding: 1rem;
  background-color: #f7f7f7;
  border-radius: 2rem 2rem 0 0;
}
.menu__restaurant {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.menu__carte {
  display: grid;
  gap: 2rem;
}
.menu__carte :nth-child(2) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.menu__carte :nth-child(3) {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
.menu__carte :nth-child(4) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.menu__category {
  display: grid;
  gap: 1rem;
}
.menu__category-underline {
  width: 2.5rem;
  height: 2px;
  background-color: #99e2d0;
}
.menu__tile {
  -webkit-animation: appear 1s;
          animation: appear 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: flex;
  overflow: hidden;
  background-color: white;
  border-radius: 1rem;
  line-height: 1.5rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.menu__tile [class*=menu__tile] {
  padding: 0.5rem;
}
.menu__tile-prixdesc {
  display: flex;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
}
.menu__tile-desc {
  overflow: hidden;
}
.menu__tile-desc > * {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__tile-prix {
  align-self: flex-end;
}
.menu__tile:hover .slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.menu__tile:hover .fa-check {
  -webkit-animation: rotate 0.5s linear;
          animation: rotate 0.5s linear;
}

.cmd {
  display: flex;
  justify-content: center;
}

.main-stop {
  stop-color: #9356dc;
}

.alt-stop {
  stop-color: #ff79da;
}

.card {
  background-color: white;
  overflow: hidden;
  border-radius: 1rem;
  height: 250px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.card__nouveau {
  position: absolute;
  border-radius: 2px;
  background-color: #99e2d0;
  color: #2d7e69;
  padding: 0.25rem 0.5rem;
  margin-top: 1rem;
  right: 2rem;
}
.card__image {
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__coeur {
  place-self: center;
}

.flex-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem;
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 150px;
  position: relative;
  z-index: 1;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0 1em 0 1em;
  height: 50px;
  border: none;
  border-radius: 2em;
  color: white;
  font-weight: 400;
  background: linear-gradient(350deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.btn:hover .btn__bg {
  opacity: 1;
}
.btn__bg {
  position: absolute;
  border-radius: 2em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(350deg, rgb(147, 110, 220) 0%, rgb(255, 150, 218) 100%);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 1rem 1rem 2rem;
  line-height: 1.5rem;
}
footer h3 {
  margin: 1rem auto;
  font-family: shrikhand;
  font-weight: 400;
}
footer .fa-solid {
  width: 1rem;
  margin-right: 0.25rem;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

/* Restaurants pages typography */
.menu__restaurant h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}
.menu__carte {
  font-size: 14px;
}
.menu__carte h2 {
  text-transform: uppercase;
  font-weight: normal;
}
.menu__category h2 {
  font-size: 18px;
  transform: "";
}
.menu__tile h3, .menu__tile p, .menu__tile span {
  font-size: 0.9rem;
}

.heart {
  width: 1.5rem;
  height: 2rem;
  fill: transparent;
  stroke: black;
  stroke-width: 20;
  overflow: visible;
}
.heart :hover {
  stroke: none;
  -webkit-animation: heart-animation 1s ease-in-out forwards;
          animation: heart-animation 1s ease-in-out forwards;
  fill: url(#gradient);
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button,
input,
select {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

nav {
  display: grid;
}/*# sourceMappingURL=main.css.map */