.card {
    background-color: white;
    overflow: hidden;
    border-radius: 1rem;
    height: 250px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);

    &__nouveau {
        position: absolute;
        border-radius: 2px;
        background-color: #99e2d0;
        color: #2d7e69;
        padding: 0.25rem 0.5rem;
        margin-top: 1rem;
        right: 2rem;
      }

      &__image {
        height: 175px;
        object-fit: cover;
      }

      &__heart {
        width: 1.5rem;
        fill: transparent;
        stroke: black;
        stroke-width: 20;
        overflow: visible;

        :hover {
            animation: heart-animation 1s ease-in-out forwards;
            fill: #ff79da;
            transition: fill 1s ease;
        }
      }
  }
  

@keyframes heart-animation {
    0% {
      transform: scale(1);
    }
  
    75% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  footer {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 1rem;
  
    h3 {
      font-family: shrikhand;
      font-weight: 400;
    }
  }
  