@media screen {
    @media (min-width: 800px){
        #Fonctionnement {
            text-align: center;

        }
        #restaurants  {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 1em 1em;

           h2 {
            text-align: center;
           }
        }



        footer {
            text-align: center;
        }
    }

    @media (min-width: 1100px){
        
         .menu__carte {
            display: flex;
            justify-content: center;      
        }

    }

    
}